@import "assets/sass/_mixins";
@import "assets/sass/_variables";
@import "assets/sass/_fonts";
.project{
    margin: 2rem auto;
    border-radius: 1rem;
    width: 22rem;
    min-height: 26rem;
    background-color: white;
    box-shadow: 0 0 .2rem $white-black;
    overflow: hidden;
    &__img{
        width: 100%;
        
    }
    &__title{
        font-family: PoppinsSemiBold;
        color: $gray_dark;
        font-weight: bold;
        padding: .5rem;
    }
    &__description{
        position: relative;
        padding: .5rem;
        max-height: 5rem;
        overflow: hidden;
    }
    &__buttons{
        @include flex(row,center,center,auto);
        height: 5rem;
        font-size: 1rem;
    }
}

@media (max-width: 360px){
    .project{
        width: 90vw;
        &__description{
            max-height: none;
        }
    }
}