@import "assets/sass/_mixins";
.nav{
    max-width: 1200px;
    opacity: 1;
    pointer-events: auto;
    @include flex(row,center,center,auto);
    position: relative;
}   

@media(max-width: 600px){
    .nav{
        opacity: 0;
        pointer-events: none;
        flex-direction: column;
        padding-bottom: 2rem;
        &.show{
            opacity: 1;
            pointer-events: auto;
            transition: opacity 500ms ease-in-out;
        }
    }
}